img,
video {
    max-width: 100%;
    height: auto;
}

video {
    margin-top: -7px;
    z-index: -1;
}

figure {
    margin: 0;
}

figcaption {
    padding-top: var(--space2x);
    padding-bottom: var(--space2x);
    color: var(--gray-600);
}