:root {
    /* Styles de couleur */
    --black: rgba(0, 0, 0, 1);
    --dark: rgba(35, 32, 32, 1);
    --gray-600: rgba(168, 160, 160, 1);
    --gray-200: rgba(224, 213, 213, 1);
    --yellow: rgba(244, 212, 44, 1);
    --blue: rgba(43, 141, 232, 1);
    --red: rgba(255, 55, 55, 1);

    /* Tailles des polices de caractère */
    --title-xl: 1.5rem;
    --title-lg: 1.25rem;
    --title-md: 0.9rem;
    --body: 0.75rem;

    /* Polices de caractère */
    --font-Orbitron: 'Orbitron', sans-serif;
    --font-Roboto: 'Roboto', sans-serif;

    /* Font variantes */
    --letter-spacing: -0.05rem;

    /* Espaces */
    --space1x: 0.625rem;
    --space2x: 0.9375rem;
    --space3x: 1.875rem;
    --space4x: 2.8125rem;
    --space5x: 3.75rem;
    --space-menu: 5rem;
}