.footer {
    background-color: var(--black);
    color: var(--gray-200);
    padding-bottom: var(--space1x);
}

.footer_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer_list {
    list-style: none;
}

.footer_name {
    padding-left: 42px;
}

.footer_twitter {
    padding-left: var(--space2x);
}

.footer_department {
    text-decoration: underline;
}

.footer_mention {
    display: flex;
}