.footer {
    background-color: var(--black);
    color: var(--gray-200);
    padding-bottom: var(--space1x);
}

.footer__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer__list {
    list-style: none;
}

.footer__name {
    padding-left: 42px;
}

.footer__twitter {
    padding-left: var(--space2x);
}

.footer__mention {
    display: flex;
}