.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: var(--space2x);
    background-color: var(--black);
}

.header_menu {
    display: flex;
    align-items: center;
    gap: var(--space3x);
}