.section:not(:last-child) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__header {
    padding: var(--space2x);
    text-align: center;
    overflow: hidden;
}

.section__header-article,
.section__img-top-space {
    padding-top: var(--space4x);
}

.section__title {
    padding-left: var(--space2x);
}

.section__card-title {
    color: var(--yellow);
    padding: var(--space1x);
}

.section__paragraph {
    margin: var(--space2x);
    padding: var(--space2x);
}

.section__text {
    text-align: justify;
    letter-spacing: var(--letter-spacing);
    line-height: 1.7;
    padding-top: var(--space2x);
    padding-bottom: var(--space2x);
    margin: var(--space2x);
}

.section__img {
    width: 70%;
    height: auto;
}