.carousel {
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 0 80px 0 80px;
    background-color: var(--gray-200);
    overflow-x: scroll;
    margin: 0 -15px 0 -15px;
    scroll-snap-type: x mandatory;
}

.carousel__item {
    flex: 1 0 160px;
    scroll-snap-align: center;
    margin: 10px 0 10px 0;
}

.carousel__item img {
    display: block;
    margin-bottom: var(--space2x);
}

.carousel__title {
    margin-bottom: var(--space4x);
}

.carousel__title-2 {
    margin-top: var(--space3x);
    margin-bottom: var(--space3x);
}

.carousel__legend {
    font-size: var(--title-md);
}

.carousel__link {
    color: var(--black);
    text-decoration: none;
    
}

.carousel__underline {
    text-decoration: underline;
}

/* pour personnaliser graphiquement la barre d'ascenseur */

.carousel::-webkit-scrollbar-track {
    background-color: var(--gray-600);
}

.carousel::-webkit-scrollbar {
    height: 8px;
    background-color: var(--gray-600);
}

.carousel::-webkit-scrollbar-thumb {
    background-color: var(--red);
}